.container {

    display: flex;

    position: fixed;

    top: 33%;

    left: 50%;

    margin-top: -100px;



}

.logo{

    background-image: url("../img/dungeon.png");

    background-size: cover;

    background-repeat:no-repeat;

    background-position: center;

    height: 200px;

    width: 500px;

    margin-left: auto;

    margin-right: auto;


}


.fondo{

    padding:1600px;

    width: 700px;

    height: 400px;

    background-image: url("../img/back.png");

    background-size: cover;

    background-repeat:no-repeat;

}



